.btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: .8rem 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    border-radius: 50px;    
}