@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// @keyframes photosEntry {
//     0% {
//         background-image: url('/img/first_pic_comes_first.jpg'); 
//     }

//     20% {
//         background-image: url('/img/first_pic_comes_first.jpg');   
//     }
    
//     40% {
//         background-image: url('/img/entry-3.jpg');
//     }
    
//     60% {
//         background-image: url('/img/entry-4.jpg');    
//     }
    
//     80% {
//         background-image: url('/img/entry-5.jpg');    
//     }
    
//     100% {
//         background-image: url('/img/entry-6.jpg');    
//     }
// }

@keyframes moving {
    0% {
        transform: translateX(.3rem) translateY(.7rem);
    }

    20% {
        transform: translateX(-.1rem) translateY(-.7rem);
    }
    
    40% {
        transform: translateX(.2rem) translateY(.25rem);
    }
    
    60% {
        transform: translateX(-.3rem) translateY(-.2rem);
    }
    
    80% {
        transform: translateX(0rem) translateY(.7rem);
    }
    
    100% {
        transform: translateX(.4rem) translateY(.06rem);
    }
}