.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    // @include respond(tab-port) {
    //     margin-bottom: 3rem !important;
    // }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    // @include respond(tab-port) {
    //     margin-bottom: 5rem !important;
    // }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.mr-1 { margin-right: .2rem; }
.mr-2 { margin-right: .4rem; }
.mr-3 { margin-right: .6rem; }
.mr-4 { margin-right: .8rem; }
.mr-5 { margin-right: 1rem; }