.dates {
    grid-column: 1 / -1;
    position: relative;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, 
                                        rgba(255,255,255,1) 50%, 
                                        rgba(155,214,139,.8) 50%,
                                        rgba(114,196,175,.8) 100%), 
                                          url(/img/dates-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(phone) {
        padding: 3rem 0;
        background: linear-gradient(120deg, rgba(255,255,255,1) 0%, 
                                            rgba(255,255,255,1) 50%, 
                                            rgba(155,214,139,.8) 50%,
                                            rgba(114,196,175,.8) 100%), 
                                              url(/img/dates-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    & > h2 {
        margin-top: 3rem;

        @include respond(phone) {
            margin-top: 0rem;   
            margin-bottom: 3rem;
        }
    }

    &__subheading {
        cursor: pointer;
        font-size: 2.2rem;
        color: $color-grey-dark-3;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        transform: skewX(10deg);
        background: linear-gradient(125deg, rgba(146,212,195,1) 0%, rgba(162,212,145,1) 50%, rgba(198,218,163,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__container {
        padding: 3rem 20rem;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: repeat(3, 16rem);
        grid-column-gap: 15rem;
        grid-row-gap: 2rem;
        justify-content: center;
        align-items: center;
        

        @include respond(tab-port) {
            grid-column-gap: 4rem;
            padding: 3rem 10rem;
            grid-template-columns: max-content max-content;
        }

        @include respond(phone) {
            padding: 0;
            grid-column-gap: 0rem;
            grid-template-rows: 9rem 1fr 9rem 1fr 9rem 1fr;
        }

        &__item {
            &-1,
            &-3,
            &-5 {
                background-color: $color-grey-light-2;
                padding: .4rem 2rem;
                border-radius: .3rem;
                transform: skewX(-10deg);
                box-shadow: .3rem .3rem 1rem rgba($color-black, .4);
                transition: all .3s;

                &:hover {
                    transform: translateY(-.7rem) skewX(-10deg);
                }

                @include respond(phone) {
                    grid-column: 1 / -1;
                }
            }

            &-2,
            &-4,
            &-6 {
                display: flex;
            }


        }
    }
}

.date,
.month,
.year {
        cursor: pointer;
        padding: 2rem 4.5rem;
        text-align: center;
        font-family: $font-family-3;
        font-size: 3rem;
        color: $color-white;
        border-radius: .3rem;
        background: rgb(129,197,205);
        background: linear-gradient(135deg, rgba(129,197,205,.8) 0%, rgba(170,204,159,.8) 50%, rgba(146,203,188,.8) 100%);
        background-size: cover;
        background-position: center;
        transition: all .4s;

        @include respond(tab-port) {
            padding: 1.8rem 4rem;
        }

        &:hover {
            transform: translateY(-.7rem);
        }
}

.date {
    margin-right: 4rem;
    @include respond(tab-port) {
        margin-right: 1rem;
    }
}

.month {
    margin-right: 4rem;
    @include respond(tab-port) {
        margin-right: 1rem;
    }
}

.moving {
    animation-name: moving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}